
<ion-view view-title="引导" hide-nav-bar=true hide-tabs=true>
	
	<style>
	.slider,.name{
			width: 100%;
			height:100%;
		}
		
		.fix{
			width:1.40rem;
			height:0.44rem;
			background:#b3b3b3;
			position: absolute;
			right:0.08rem;
			bottom: 0.44rem;
			color: #fff;
			text-align: center;
			line-height: 0.40rem;
			border-radius:0.1rem;
		}
	</style>
	
	 <!--轮播图-->
        <ion-slide-box  auto-play="true" does-continue="false" slide-interval="2000" show-pager="true">
    	
    	<ion-slide>
    		<div class="name" style="background:url(img/QQ图片20171.jpg) no-repeat; background-size:100% 100%;">
    			
    		</div>
    	</ion-slide>
    	
    	<ion-slide>
    		<div class="name" style="background:url(img/QQ图片2017.jpg) no-repeat; background-size:100% 100%;">
    			<div class="fix"><span>2s</span> 跳过广告</div>
    		</div>
    	</ion-slide>
    	
    	
    </ion-slide-box>
  		
	
</ion-view>