
 <ion-view view-title="" hide-nav-bar="true" hide-tabs="true">
 	  
 	  <style>
 	   ion-slide div{width:100%;height:4rem;}
 	  .underLine{border-bottom:0.01rem solid #9E9E9E;}
 	   .font{font-size:12px;}
 	   .hurdle{height:0.15rem;background:#eeeeee;}
 	   .centered{text-align: center;}
 	   
 	   .color{border-color:#24b096 !important;color:#24b096;}
 	   
 	   ul li{list-style:none;}
 	   .serve{height:0.6rem;line-height:0.6rem;}
 	   .serve li{margin-left:0.1rem;float:left;}
 	   .serve i{color:#24b096;}
 	   
 	   .swiper-container{width:100%;height:0.85rem;padding-top:0.1rem;padding-left:0.1rem;}
 	    .swiper-wrapper{height:0.7rem;}
 	   .swiper-wrapper img{width:1.5rem;height:0.62rem;}
 	   
 	   .integral{height:0.6rem;padding-left:0.1rem;line-height: 0.6rem;}
 	   .integral img{width:0.48rem;height:0.25rem;vertical-align:text-top;margin-right:0.1rem;}
 	   
 	   .evaluate li{line-height: 0.5rem;padding-left:0.15rem;padding-right: 0.15rem;}
 	   .evaluate img{width:1.22rem;height:0.22rem;float:right;margin-top:0.15rem;margin-right:0.1rem;}
 	   
 	   .interface{height:1.2rem;background:#eeeeee;padding-top:0.2rem;}
 	   .fixed{position:fixed;bottom:0;background:#ffffff;}
 	   .fixed li{width:0.74rem; height:0.75rem;float:left;}
 	    .fixed li div{width:100%;height:0.4rem;padding-top:0.1rem;}
 	    .fixed li .waif{position: relative;}
 	   .fixed .waif span{position:absolute;right:0.05rem;top:0.05rem;  width:0.25rem;height:0.25rem;background:red;border-radius:50%;line-height:0.25rem;}
 	   .fixed .rim{border-left:1px solid #eeeeee;border-right: 1px solid #eeeeee;}
 	   .fixed i{font-size:0.35rem;}
 	   
 	   .popup_wrap{width:100%;height:6rem;background:#ffffff;position:absolute;bottom:-6rem;z-index:99;}
 	   
 	   .popup_wrap ul li{width:auto:height:0.42rem;border:1px solid #9E9E9E;text-align:center;margin-top:0.2rem;}
 	   
 	   .screen_wrap{width:100%;height:100%;background:#5a584b;position:absolute;top:-9.6rem;opacity:0.5;z-index: 1;}
 	  </style>
 	  
 	  
 	<ion-content>
 		
 		<ion-slide-box auto-play="true" does-continue="true" slide-interval="2000" show-pager="true">
    	
    	<ion-slide>
    		<div><img src="img/5551.png" width="100%" height="auto"/></div>
    	</ion-slide>
    	
    	<ion-slide>
    		<div><img src="img/443.png" width="100%" height="auto"/></div>
    	</ion-slide>
    	
    	<ion-slide>
    		<div><img src="img/141.png" width="100%" height="auto"/></div>
    	</ion-slide>
    </ion-slide-box>
 		
 		<div class="row">
 		  <b>林氏木业现代简约儿童床衣柜书桌组合套装儿童<br />房卧室成套家具DE1A</b>	
 		</div>
 		<div class="row" style="color:red;">
 			<div class="col"><b>￥2899.00</b></div>  
 		</div>
 		
 		<div class="row underLine">
 		<div class="col">价格<span style="text-decoration: line-through;">￥5972.00</span></div>
 		</div>
 		
 		<ul class="serve underLine font">
 		    <li><i class="icon ion-ios-checkmark-outline"></i> 三年质保 </li>
 		    <li><i class="icon ion-ios-checkmark-outline"></i> 60天退换货</li>
 		    <li><i class="icon ion-ios-checkmark-outline"></i> 承诺保价 </li>
 		    <li><i class="icon ion-ios-checkmark-outline"></i> 送货入户安装</li>
 		    <li><i class="icon ion-ios-arrow-right"></i></li>
 		</ul>
 		<!--滚动劵-->
 		<div class="swiper-container underLine">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/55501.png"/></div>
            <div class="swiper-slide"><img src="img/55501.png"/></div>
            <div class="swiper-slide"><img src="img/55501.png"/></div>
            <div class="swiper-slide"><img src="img/55501.png"/></div>
            <div class="swiper-slide"><img src="img/55501.png"/></div>
            <div class="swiper-slide"><img src="img/55501.png"/></div>
            <div class="swiper-slide"><img src="img/55501.png"/></div>
           
        </div>
 		</div>
 		
 		<!--积分-->
 		<div class="integral font">
 		<img src="img/555561.png"/>购买该商品最多可获得1449积分
 		</div> 
 		 <!--条蓝--> 	
		   <div class="hurdle"></div>
		<div class="list" style="margin-bottom:0;">
		 <label class="item item-input">
		    <span class="font">已选择：</span>
		    <input type="text" value="请选择规格">
		    <i class="icon ion-ios-arrow-right"></i>
		  </label>
		  
		  <label class="item item-input">
		    <span class="font">配送至：</span>
		    <i class="icon ion-location" style="color:#24b096;"></i>
		    <input type="text"value="广东省 广州市 天河区">
		    <i class="icon ion-ios-arrow-right"></i>
		  </label>
		</div>   
		
		 <!--条蓝--> 	
		   <div class="hurdle"></div>
		   
		  <ul class="evaluate">
		  	<li>
		  	<b>商品评价(0)</b><span style="float:right;">5分</span><img src="img/56661.png" />
		  	</li> 
		  	<li class="">暂无评价</li>
		  </ul>
		
		   <!--条蓝--> 	
		   <div class="hurdle"></div>
		   
		   <ul class="evaluate">
		  	<li>
		  	<b>问大家(0)</b><i class="icon ion-ios-arrow-right" style="float:right;"></i>
		  	</li> 
		  	<li class="">暂无提问</li>
		  </ul>
		  
		  <div class="interface centered"><i class="icon ion-arrow-up-c"></i>向上拉查看更多详情</div>
		  
		 
 	</ion-content>
 	    <ul class="fixed centered">
		  	<li><div><i class="icon ion-social-github-outline"></i></div><p class="font">客服</p></li>
		  	<li class="rim"><div> <i class="icon ion-ios-heart-outline"></i></div><p class="font">收藏</p></li>
		  	<li><div class="waif"><i class="icon ion-ios-cart-outline" ng-click="goCar()"></i><span>0</span></div><p class="font">购物车</p></li>
		  	<li class="balanced-bg" style="width:1.58rem;line-height:0.75rem;">立即购买</li>
		  	<li class="assertive-bg" style="width:1.58rem;line-height:0.75rem;">加入购物车</li>
		 </ul>
		 
		 <div class="popup_wrap">
		  <div class="list" style="margin-bottom:0;">
		  	<div class="item  item-thumbnail-left">
		  		<img src="img/5551.png"/>
		  		 <div><span class="assertive">￥2986 </span><i class="icon ion-close" style="float:right" ng-click="down_popup()"></i></div>
		  		 <p>库存300件</p>
		  		 <p class="alter">请选择规格</p>
		  	</div>
		  </div>
		  
		   <div class="padding-left">
		   	<b>颜色</b>
		   	<ul class="color_wrap">
		     <li class="font" style="width:4.6rem;">DE1A床底无储物床+床抽屉*2+衣柜+书桌+书椅*1</li>
		   	 <li class="font" style="width:4.2rem;">DE1A气动储物床(1.5*1.9)+衣柜+书桌+书椅*1</li>
		   </ul>
		   </div>
		    <div style="height:0.2rem;"></div>
		    
		    <div class="padding-left">
		    <b>尺寸</b>
		  	<ul class="resize_wrap">
		    <li style="width:2.2rem;">1200mm*1900mm</li>
		   	<li style="width:2.2rem;">1500mm*1900mm</li>
		   </ul>
		  </div>
		    <div style="height:0.1rem;"></div>
		    <button class="button button-full button-assertive">确定</button>
		  </div>
		  <div class="screen_wrap"></div>
 </ion-view>